:root {
    --optimum-gray: #272727;
}

@font-face {
    font-family: "Helvetica Light";
    src: url(fonts/helvetica-light.ttf) format("truetype");
}

@font-face {
    font-family: "TTRoundsNeue";
    src: url(fonts/TTRoundsNeue-CondLight.ttf) format("truetype");
}

body {
    font-family: "Helvetica Light";
    height: 2000px;
}

h1 {
    font-size: 70px;
    font-weight: 500;
}

#optimum-navbar {
    background-color: var(--optimum-gray);
}

#optimum-logo {
    width: 150px;
    height: auto;
}

#apresentacao {
    background-image: url(images/gray-geo-bg-v2-darker.jpg);
    background-position: center;
    background-size: cover;
}
