:root {
    --optimum-gray: #272727;
    --light-gray: #eeeaea;
}

@font-face {
    font-family: "Helvetica Light";
    src: url(fonts/helvetica-light.ttf) format("truetype");
}

@font-face {
    font-family: "TTRoundsNeue";
    src: url(fonts/TTRoundsNeue-CondLight.ttf) format("truetype");
}

body {
    font-family: "Helvetica Light";
}

h1 {
    font-size: calc(2rem + 3.25vw);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.gray-bg {
    background-color: var(--light-gray);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.titulo-secao {
    color: #9d9d9d;
}

#optimum-navbar {
    background-color: var(--optimum-gray);
}

#optimum-logo {
    width: 20vh;
    height: auto;
}

#home {
    background-image: url(images/fundo-optimum.png);
    background-position: center;
    background-size: cover;
}